##### **Importing necessary libraries and the dataset**
The following code imports the necessary libraries, defines the folder path and imports the dataset.

In [1]:
from utils_and_libraries import utils


# Path to the dataset
path = 'dataset/data.csv'

# Retrieve the dataset from the path, along with the skipped lines due to the presence of non-required information
password_dataset, skipped_lines = utils.get_data(path)

print("Total length of the dataset: {}".format(len(password_dataset) + len(skipped_lines)))

Total length of the dataset: 669879

##### **Data Visualizing**
The following code aims at displaying the first five passwords in the dataset, along with their related strength. It then displays the first five skipped lines.

In [2]:
# Display the first 5 rows of the dataset
print("First 5 rows of the dataset:")
utils.display_data(password_dataset, head=True)
print("Number of passwords considered: {}".format(len(password_dataset)))

# Display the first 5 skipped lines
print("\nFirst 5 skipped lines:")
utils.display_data(skipped_lines, head=True)
print("Number of skipped lines: {}".format(len(skipped_lines)))

First 5 rows of the dataset:

      password  strength
0     kzde5577         1
1     kino3434         1
2    visi7k1yr         1
3     megzy123         1
4  lamborghin1         1

Number of passwords considered: 669640

First 5 skipped lines:

,0,1,2,3,4,5,6
0,selim,selim_syl1905@hotmail.com,88.230.79.161,Poftya123,2,None,None
1,Selim,delioreanxs@hotmail.com,85.97.14.203,selim123456,2,None,None
2,Selim,mt2gurur@hotmail.com,88.227.187.9,benerkin98,2,None,None
3,Selim,facebookselim4@hotmail.com,94.123.218.111,4938863a,2,None,None
4,selim,anakonda_252@hotmail.com,85.110.117.124,4560458sg,2,None,None

Number of skipped lines: 239

##### **Feature Extraction**
The following code extracts the features from the dataset. 
The extracted features are:
-   Length of the password
-   Number of digits in the password
-   Number of special characters in the password
-   Number of uppercase letters in the password
-   Number of lowercase letters in the password
-   Number of unique characters in the password
-   The value of the entropy of the password
-   If the password has repeated characters

The extracted features are then displayed for the first five passwords in the dataset.

In [3]:
# Extract the features from the dataset and display them
extracted_features = utils.extract_password_features(password_dataset)

print("Extracted features related to the first 5 passwords:")
utils.display_data(extracted_features, head=True)

Extracted features related to the first 5 passwords:

,length,digits,special_characters,uppercase_letters,lowercase_letters,unique_characters,entropy,has_repeated_characters
kzde5577,8,4,0,0,4,6,41.359400,True
kino3434,8,4,0,0,4,6,41.359400,False
visi7k1yr,9,2,0,0,7,8,46.529325,False
megzy123,8,3,0,0,5,8,41.359400,False
lamborghin1,11,1,0,0,10,11,56.869175,False